.faqs {
  margin-top: 180px;
  color: white;

  display: flex;
  justify-content: space-between;
  gap: 80px;
}

.faqs h4 {
  font-weight: 600;
}

.subtitle {
  opacity: 50%;
}

.accordionHeader,
.accordionDetails {
  background-color: var(--color-black) !important;
  color: white !important;
  padding: 8px;
}

.accordionDetails > p {
  opacity: 50%;
}

.accordion {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
  width: 560px;
}
